@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

header {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 55px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 100px;
    background-image: url(../img/cobble.jpg);
    background-position-y: 65%;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

article {
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(173, 173, 173, 0.521);
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #6c757d;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

nav{
	padding-left: 30px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*-------------------------------------------------*/

li:hover{
	color: white !important;
}

p.content{
    font-weight: bold;
    font-size:30px;
    font-style: italic
}

@media (max-width: 600px) {
    nav, article {
        width: auto;
        height: auto;
    }
}
