header {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    background-image: url(../img/kopfsteinpflaster_bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(173, 173, 173, 0.521);
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: rgba(211, 211, 211, 0.521);
    padding: 10px;
    text-align: center;
    color: white;
}

nav{
	padding-left: 30px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*-------------------------------------------------*/

p.content{
    font-weight: bold;
    font-size:30px;
    font-style: italic
}

@media (max-width: 600px) {
    nav, article {
        width: auto;
        height: auto;
    }
}
